html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
}

table {
  margin: 0 auto;
}

h1, h2, p, form {
  text-align: center;
}

.up_in {
  text-align: center;
  background-color: #00ff4d;
}
